<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MINSU SHUTTLERS - Work Hard To Get Better Play</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body id="top">

  <!-- HEADER -->
  <header class="header" data-header>
    <div id="nav" class="container">
      <a href="#" class="logo">
        <ion-icon name="barbell-sharp" aria-hidden="true"></ion-icon>
        <span class="span">MINSU BADMINTON SHUTTLERS</span>
      </a>
      <nav class="navbar" data-navbar>
        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-sharp" aria-hidden="true"></ion-icon>
        </button>
        <ul class="navbar-list">
          <li>
            <a href="#home" class="navbar-link active" data-nav-link>Home</a>
          </li>
          <li>
            <a href="#about" class="navbar-link" data-nav-link>About Us</a>
          </li>
          <li>
            <a href="#contact" class="navbar-link" data-nav-link>Contact Us</a>
          </li>
  </header>

  <!-- Main Content -->
  <main>
    <article>
      <!-- HERO -->
      <section class="section hero bg-dark has-after has-bg-image" id="home" aria-label="hero" data-section style="background-image: url('team.jpg')">
        <div class="container">
          <div class="hero-content">
            <p class="hero-subtitle">
              <strong class="strong">The Best</strong> Badminton Club
            </p>
            <h1 class="h1 hero-title">Work Hard To Get Better Game</h1>
            <p class="section-text">
              Be Part of Our Growing Varsity Team.
            </p>
            <a href="#" class="btn btn-primary" id="getStartedBtn">Get Started</a>
          </div>
        </div>
      </section>
      
      <!-- ABOUT -->
      <section class="section about" id="about" aria-label="about">
        <div class="container">
          <div class="about-banner has-after">
            <img src="badminton.jpg" width="660" height="648" loading="lazy" alt="about banner" class="w-100">
          </div>
          <div class="about-content">
            <p class="section-subtitle">About Us</p>
            <h2 class="h2 section-title">Welcome To MINSU Badminton Club</h2>
            <p class="section-text">Joining the Mindoro State University Badminton Club offers an exciting opportunity for students
              to engage in a sport that promotes physical fitness, skill development, and social interaction.</p>
            <div class="wrapper">
              <div class="about-coach">
                <figure class="coach-avatar">
                  <img src="coach.jpg" width="65" height="65" loading="lazy" alt="Trainer">
                </figure>
                <div>
                  <h3 class="h3 coach-name">Nephay Fajardo</h3>
                  <p class="coach-title">Our Coach</p>
                </div>
              </div>
              <a href="#" class="btn btn-primary">Explore More</a>
            </div>
          </div>
        </div>
      </section>

      <!-- CONTACT -->
      <section class="section contact" id="contact" aria-label="contact">
        <div class="container">
          <p class="section-subtitle">Contact Us</p>
          <h2 class="h2 section-title">Get In Touch</h2>
          <div class="contact-content">
            <div class="contact-info">
              <div class="contact-item">
                <div class="icon">
                  <ion-icon name="location" aria-hidden="true"></ion-icon>
                </div>
                <p class="text">Mindoro State University-Calapan Campus, Masipit, Calapan, Oriental Mindoro</p>
              </div>
              <div class="contact-item">
                <div class="icon">
                  <ion-icon name="call" aria-hidden="true"></ion-icon>
                </div>
                <p class="text">
                  <a href="tel:0998765390" class="link">1800-121-3637</a>,
                  <a href="tel:+639839265301" class="link">+91 555 234-8765</a>
                </p>
              </div>
              <div class="contact-item">
                <div class="icon">
                  <ion-icon name="mail" aria-hidden="true"></ion-icon>
                </div>
                <p class="text">
                  <a href="mailto:minsubadmintonclub.com" class="link">minsubadmintonclub.com</a>,
                  <a href="mailto:minsushuttlers.com" class="link">minsushuttlers.com</a>
                </p>
              </div>
            </div>
            <div class="contact-form">
              <form action="#" method="post">
                <div class="form-group">
                  <input type="text" name="name" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group">
                  <input type="email" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" rows="5" placeholder="Your Message" required></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="section footer-top bg-dark has-bg-image" style="background-image: url('./assets/images/footer-bg.png')">
      <div class="container">
        <div class="footer-brand">
          <a href="#" class="logo">
            <ion-icon name="barbell-sharp" aria-hidden="true"></ion-icon>
            <span class="span">MINSU SHUTTLERS</span>
          </a>
          <p class="footer-brand-text">SMASH HARD, SOAR HIGH</p>
          <div class="wrapper">
            <img src="footer-clock.png" width="34" height="34" loading="lazy" alt="Clock">
            <ul class="footer-brand-list">
              <li>
                <p class="footer-brand-title">Monday - Friday</p>
                <p>7:00AM - 5:00PM</p>
              </li>
              <li>
                <p class="footer-brand-title">Saturday - Sunday</p>
                <p>12:00PM - 8:00PM</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2022 Fitlife. All Rights Reserved By <a href="#" class="copyright-link">codewithsadee.</a>
        </p>
        <ul class="footer-bottom-list">
          <li>
            <a href="#" class="footer-bottom-link has-before">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="footer-bottom-link has-before">Terms & Condition</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <!-- BACK TO TOP -->
  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up-sharp" aria-hidden="true"></ion-icon>
  </a>

  <!-- Bootstrap JS Bundle with Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0GLO5t93S7AuJkxK04vcpzp5XREh9B4b6K6sQkflj4" crossorigin="anonymous"></script>
  <script src="script.js"></script>
</body>

</html>
